*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .4px;
    line-height: 1.7;
    transition: .4s ease-in;    
    font-size: 18px;
}


:root{
    --color-primary: #407aff;
    --color-primary-plush: #7456FF;
    --color-danger: crimson;
    --color-white: #FFFFFF;
    --color-on-white: #fafafa;
    --color-black: #0F0F0F;
    --color-on-black: #000000;
    --color-braun: #ff8c7a;
    --color-light: #e7effd;
}

.btn{
    display: inline-block;
    border: 1px solid var(--color-primary);
    padding: 12px 24px;
    color: var(--color-primary);
    font-weight: 500;   
    border-radius: .2rem; 
}
.btn-primary{
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background:  var(--color-primary);
}
.btn-primary:hover{
    background: none;
    color: var(--color-primary);
}
.btn-danger{
    color: var(--color-white);
    border: 1px solid var(--color-danger);
    background:  var(--color-danger);
}
.btn-danger:hover{
    background: none;
    color: var(--color-danger);
}
.text-sm{
    font-size: 16px;
}
.container{
    height: 100vh;
    width: 100vw;
    padding: 7vh 0;
    background: var(--color-white);   
}
.wrapper{
    height: 86vh;
    max-width: 1320px;
    width: 92%;
    background: var(--color-on-white);
    box-shadow: 0 0 1rem var(--color-primary);
    margin: 0 auto;
    padding: 40px;
    border-radius: 1rem;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
}
.wrapper::-webkit-scrollbar{
    width: 0;
    -webkit-overflow-scrolling: touch;
}



/* ..............START Nav CONTENT................ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
nav ul{
    display: flex;
    gap: 40px;

}
.logo{
    font-size: 1.4rem;
    color: var(--color-primary-plush); 
    font-weight: 100;   
}
.logo span{
    color: var(--color-danger);
    font-size: 1.4rem;
}

nav ul li a{
    font-weight: 100;
    color: var(--color-primary-plush);    
}
nav ul li a:hover{
    color: var(--color-black);
}
.active{
    border-bottom: 1px solid var(--color-black);
    color: var(--color-black);
}
/* ..............START Nav CONTENT................ */



/* ..............START Head Section................ */
#Home{
    display: grid;
    grid-template-columns: 3% auto 38%;
    gap: 2rem;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-size: 50px;
    color: var(--color-primary-plush);
    margin-bottom: 1rem;
}
.header-left, 
.header-social{
    padding-top: 5rem;
}
.header-social{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.header-social a i{
    font-size: 1.2rem;
    color: var(--color-primary);
}
.header-social a i:hover{
    color: var(--color-danger);
}
 h3{
    font-size: 24px;
    margin-bottom: .5rem;
    color: var(--color-braun);
}
.header-left p{
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.header-right{
    position: relative;
    border-radius: 40%;
    overflow: hidden;    
}
.main-image-bg{
    position: absolute;
    height: 22rem;
    width: 22rem;
    border-radius: 44%;
    bottom: 2rem;
    box-shadow: 0 0 1rem var(--color-black);
    left: 1rem;
    animation: Animation infinite 5s ease ; 
}
@keyframes Animation {
    0%{
        transform: rotate(45deg);
        background: var(--color-on-white);
    }
    10%{
        transform: rotate(90deg);
        background: var(--color-primary);
    }
    70%{
        transform: rotate(18deg);
        background: var(--color-danger);
    }
    100%{
        transform: rotate(-360deg);
        background: var(--color-on-white);
    }

}
.header-right img{
    position: relative;
}
.header-left .btn:hover{
    color: var(--color-on-white);
    background: var(--color-primary);
}
/* ..............END Head section................ */



/* ..............Start About section................ */
 h2{
    font-size: 42px;
    color: var(--color-braun);
    padding: 1rem 0;
    text-align: center;
}
.about-content{
    display: grid;
    grid-template-columns: 42% 52%;
    gap: 6%; 
    padding-bottom: 1rem;
}
.about-left{
    padding: 20px;
}
.about-right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-right p{
    width: 96%;
    color: var(--color-primary);

}
.about-right p:nth-child(2){
    color: var(--color-braun);
}
.about-right .btn{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.about-content span{
    color: var(--color-primary-plush);
}
.Scroll-up{
    position: fixed;
    transform: rotate(90deg);
    color: var(--color-primary);
    right: 3rem;
    bottom: 6rem;
}
.Scroll-up:hover{
    color: var(--color-primary-plush);
}
/* ..............END  About section................ */



/* ..............Start Skills section................ */
.skill-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 30px;
}
.web,
.app{
    background: var(--color-braun);
    padding: 20px;
    border: 1px solid var(--color-braun);
    border-radius: 1rem;
}
.web:hover,
.app:hover{
    background: none;
}
.web:hover h3,
.app:hover h3{
    color: var(--color-braun);
}
.web h3,
.app h3{
    color: var(--color-white);
    text-align: center;
    margin-bottom: 2rem;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 0 20px;
    gap: 2rem;   
}
.content .skill{
    display: flex;
    gap: .5rem;
    color: var(--color-black);   
}

/* ..............END  Skills section................ */


/* ..............Start  Services section................ */
.services-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 30px;
}
.services-box{
    background: var(--color-light);
    padding: 20px;
    border: 1px solid var(--color-light);
    border-radius: .5rem;
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: .5rem;
}
.services-box p i{
    border-radius: 50%;
    padding: 14px;
    display: flex;
    width: fit-content;
    background: var(--color-primary);
    color: var(--color-on-white);  
}
.services-box:hover{
    background: none;
}
.services-box:nth-child(1){
    color: var(--color-primary);
}
.services-box:nth-child(1) h3{
    color: var(--color-primary);
}
.services-box:nth-child(3){
    color: var(--color-braun);
}
.services-box:nth-child(3) p i{
    background: var(--color-braun);
}
.services-box:nth-child(2){
    color: var(--color-black);
}
.services-box:nth-child(2) p i{
    background: var(--color-black);
}
.services-box:nth-child(2) h3 {
    color: var(--color-black);
}
/* ..............END  Services section................ */



/* ..............Start portfolio section................ */
#Portfolio{
    /* background: var(--color-light); */
    border-radius: .5rem;
    width: 100%;
}
.portfolio-contnt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 20px;
}
.portfolio-box{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: .5rem;
    color: var(--color-black);
    padding: 20px;
    background: var(--color-braun);
    border: 1px solid var(--color-braun);
    border-radius: .5rem;
}
.portfolio-box:hover{
    background: var(--color-on-white);
}
.portfolio-box h3{
    color: var(--color-white);
}
.portfolio-box:hover h3{
    color: var(--color-braun);
}
.portfolio-box a{
    font-size: .9rem;
    color: var(--color-primary-plush);
}
.portfolio-box a:hover{
    color: var(--color-on-black);
}

/* ..............END  portfolio section................ */



/* ..............Start Testimonial  section................ */
#Testimonial{
    width: 70% !important;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 2rem;
    padding: 30px;      
}
.profile-aria{
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    border-radius: 50%;
    border-bottom: 3px solid var(--color-on-white);
    margin: 0 auto;

}
.testimonial small{
    text-align: center;
    font-size: .9rem;
    color: var(--color-light);
    display: block;
}
h5{
    text-align: center;
}
.testimonial:nth-child(1){
    background: var(--color-primary);
    color: var(--color-white);
}
.testimonial:nth-child(2){
    background: var(--color-primary-plush);
    color: var(--color-white);
}
.testimonial:nth-child(3){
    background: var(--color-braun);
    color: var(--color-white);
}
.testimonial:nth-child(4){
    background: var(--color-danger);
    color: var(--color-white);
}
.testimonial:nth-child(5){
    background: var(--color-black);
    color: var(--color-white);
}
/* ..............END  Testimonial section................ */



/* ..............Start  Contact section................ */
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    margin: 0 auto;    
}
.contact-box{
    text-align: center;
    padding: 20px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-box:nth-child(2){
    background: var(--color-braun);
    color: var(--color-on-white);
    border: 1px solid var(--color-braun);
}
.contact-box:nth-child(2):hover{
    color: var(--color-braun);
    background: none;
}
.contact-box:nth-child(1){
    background: var(--color-black);
    color: var(--color-on-white);
    border: 1px solid var(--color-black);
}
.contact-box:nth-child(1):hover{
    color: var(--color-black);
    background: none;
}
.contact-box small{
    font-size: .8rem;
}
.contact-box a i{
    font-size: 24px;  
    color: var(--color-on-white);  
}
.contact-box:hover a i{
    color: var(--color-braun);    
}
/* ..............END  Contact section................ */


/* ..............Start  Footer section................ */
footer{
    padding-top: 4rem;
    text-align: center;
}
footer ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;    
}
footer ul li a{
    color: var(--color-primary);
}
footer ul li a:hover{
    color: var(--color-black);
}


nav .phone-meno{
    display: none;
}
/* ..............END  footer section................ */




/* ..............START MEDIA SCRIN................ */
/* ..............START MEDIA SCRIN................. */

/* ...MAX-WIDHT(1200PX)... */

@media (max-width:1200px) {

    /* .......NAV........ */
    nav{
        position: relative;
    } 
    #Nav .phone-meno {  
        display: inline-block;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        top: 0;
        background: var(--color-light);
        height: fit-content;
        gap: 0;     
        overflow: hidden;     
        box-shadow: 0 0 .7rem var(--color-primary); 
        border-radius: .5rem; 
        left: 9999px;
        z-index: 10; 
               
    }
    .active{
        border: none;
        color: var(--color-primary-plush);
    }
    ul li a{
        padding: 1rem 5rem;
        display: inline-block;  
        width: 100%;
    }
    nav ul li a:hover{
        background: var(--color-primary);
        color: var(--color-on-white);      
    }
    nav .phone-meno i{       
        font-size: 24px;
    }
    nav .phone-meno .Close {
        display: none;  
    }
   /*..........Head........ */
   h1{
    font-size: 40px;
   }    
   h2{
    font-size: 30px;
   }    
   h3{
    font-size: 22px;
   }  
   h5{
    font-size: 18px;
   } 
   #Home{
    grid-template-columns: 1fr;
    gap: 0;
   } 
    .header-social{
        display: none;
    }
    .header-right{
        grid-row: 1;
        overflow: visible;
        margin: 0 auto;       
    }
    .header-right img{
        width: 70%;
        margin: 0 auto;
    }
    .main-image-bg{
        left: 0;
        right: 0;
        margin: auto;        
    }
    .header-left{
    padding-top: 0;
    text-align: center ;
   }
   h1{
    padding-bottom: 0;
   }
    /*........ About........ */
   
    .about-content{ 
        grid-template-columns: 1fr;
        gap: 0;         
        
    }
    .about-left{
        padding: 20px;
    } 
    .about-right p{
        width: 100%;
        color: var(--color-primary);
    
    }
    .about-content img{
        width: 70%;
        margin: 0 auto;
    }
    /* ..........Skills........ */
    .skill-content{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    /* .......Services...... */
    .services-content{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    /*............. portfolio........ */
    .portfolio-contnt{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    /* ........testimonial.......... */
    #Testimonial{
        width: 90% !important;
    }
    /* .........Contact........ */
    .contact-content{
        width: 70%;
    }
    /* .........Footer........ */
    footer ul{
        flex-direction: column;
        gap: 0;
    }
    /* .......Scroll up..... */
    .Scroll-up{
        right: 2rem;
        bottom: 10rem;
    }
    
}


/* Max-Width(600px) */
@media (max-width:600px) {
    .Scroll-up{
        right: 0;
        bottom: 6rem;
    }
    .wrapper{
        height: 90vh;
    }
    /* .......head...... */
    .header-right img{
        width: 100%;
        margin: 0 auto;
    }    
    .main-image-bg{
        height: 16rem;
        width: 16rem;
    }
    .header-right{
        padding-top: 2rem;
    }
    .wrapper{
        padding: 20px;
    }
    h1{
        line-height: 50px;
        margin-top: .5rem;
    }
    /* About */
    .about-content img{
        width: 100%;
    }
    .about-right{
        padding: 14px;        
    }
    /* ..Skill. */
    .skill-content{
        padding: 0;
    }
    /* Services */
    .services-content{
        padding: 0;
    }
  
    /* porfolio */
    .portfolio-contnt{
        padding: 0;
    }
   /* testimonial */
   #Testimonial{
    width: 100% !important;
   }
   .testimonial{
    padding: 16px;
    text-align: center;
   }
   /* cotnact */
   .contact-content{
    width: 100%;
    gap: 1rem;
   }
}
/* ..............END MEDIA SCRIN................. */
/* ..............END MEDIA SCRIN................. */

/*............... Animation.......... */

.wrapper{
    animation: Ani infinite 3s ease-in;
}
@keyframes Ani {
    0%{
       box-shadow: 0 0 .8rem var(--color-danger);
    }
    100%{
        box-shadow: 0 0 .8rem var(--color-primary);
    }    
}